<menu>
	<name>Menu</name>
	<backgroundtiles>
		<backgroundtile isStartingBackground='true'>
			<filename>Images/Background_CitySkyline.png</filename>
			<zplane>-1</zplane>
		</backgroundtile>
		<backgroundtile>
			<filename>Images/Background_Mountains.png</filename>
			<zplane>-1</zplane>
		</backgroundtile>
		<backgroundtile>
			<filename>Images/Background_Hangar.png</filename>
			<zplane>0</zplane>
		</backgroundtile>
		<backgroundtile>
			<filename>Images/Background_Bridge.png</filename>
			<zplane>0</zplane>
		</backgroundtile>
		<backgroundtile isStartingBackground='true'>
			<filename>Images/Background_Street.png</filename>
			<zplane>0</zplane>
		</backgroundtile>
		<backgroundtile>
			<filename>Images/Background_Tunnel.png</filename>
			<zplane>0</zplane>
		</backgroundtile>
	</backgroundtiles>
	<sounds>
		<sound>
			<keyname>backgroundsong</keyname>
			<filename>Audio/Menu.ogg</filename>
			<type>music</type>
		</sound>
		<sound>
			<keyname>MoveCursor</keyname>
			<filename>Audio/MoveCursor.wav</filename>
			<type>sfx</type>
		</sound>
		<sound>
			<keyname>ConfirmSelection</keyname>
			<filename>Audio/ConfirmSelection.wav</filename>
			<type>sfx</type>
		</sound>
		<sound>
			<keyname>PlayerGotHit</keyname>
			<filename>Audio/PlayerGotHit.wav</filename>
			<type>sfx</type>
		</sound>
	</sounds>
	<menuscreens>
		<menuscreen>
			<title>Main</title>
			<menuoptions>
				<menuoption>
					<text>Start</text>
					<onselect>this.isStarting = true;gameEngine.soundArray["backgroundsong"].stop();</onselect>
					<onleft></onleft>
					<onright></onright>
					<font>Carter One</font>
					<fontsize>48px</fontsize>
					<position>
						<x>center</x>
						<y>250</y>
					</position>
				</menuoption>
				<menuoption>
					<text>Options</text>
					<onselect>this.ChangeMenuScreen("Options");</onselect>
					<onleft></onleft>
					<onright></onright>
					<font>Carter One</font>
					<fontsize>48px</fontsize>
					<position>
						<x>center</x>
						<y>300</y>
					</position>
				</menuoption>
				<menuoption>
					<text>Quit</text>
					<onselect>window.close();</onselect>
					<onleft></onleft>
					<onright></onright>
					<font>Carter One</font>
					<fontsize>48px</fontsize>
					<position>
						<x>center</x>
						<y>350</y>
					</position>
				</menuoption>
			</menuoptions>
		</menuscreen>
		<menuscreen>
			<title>Options</title>
			<menuoptions>
				<menuoption>
					<text>Music Volume</text>
					<onselect> </onselect>
					<onleft>gameEngine.SetVolume("music", gameEngine.musicVolume - 0.1);gameEngine.soundArray["backgroundsong"].play(true);</onleft>
					<onright>gameEngine.SetVolume("music", gameEngine.musicVolume + 0.1);gameEngine.soundArray["backgroundsong"].play(true);</onright>
					<font>Carter One</font>
					<fontsize>48px</fontsize>
					<position>
						<x>center</x>
						<y>250</y>
					</position>
				</menuoption>
				<menuoption>
					<text>SFX Volume</text>
					<onselect> </onselect>
					<onleft>gameEngine.SetVolume("sfx", gameEngine.sfxVolume - 0.1);gameEngine.soundArray["PlayerGotHit"].play();</onleft>
					<onright>gameEngine.SetVolume("sfx", gameEngine.sfxVolume + 0.1);gameEngine.soundArray["PlayerGotHit"].play();</onright>
					<font>Carter One</font>
					<fontsize>48px</fontsize>
					<position>
						<x>center</x>
						<y>350</y>
					</position>
				</menuoption>
				<menuoption>
					<text>Back</text>
					<onselect>this.ChangeMenuScreen("Main");</onselect>
					<font>Carter One</font>
					<fontsize>48px</fontsize>
					<position>
						<x>center</x>
						<y>450</y>
					</position>
				</menuoption>
			</menuoptions>
		</menuscreen>
	</menuscreens>
</menu>